<div>
    <header>
        <h1>AnsssBro Blog</h1>
        <button (click)="navegacion()">Quien es Ans?</button> -
        <button (click)="navegacion2()">Que hace Ans?</button> -
        <button (click)="navegacion3()">Como es Ans?</button> 
    </header>
    
    <hr>
    <h1>Para que se creo esta pagina?</h1>
    <p>
        Esta pagina fue creada con la finalidad de hablar sobre Hans tambien conocido como Ans un chico que vive en la ciudad de Cuenca
        en la provincia del Azuay perteneciente a Ecuador
    </p>
    <img src="./assets/anstama.jpg">
    <br>
    <strong>{{suma}}</strong><br>
    <strong>{{suma2}}</strong>
</div>

